:root {
  --blue:#0064a9;
  --yellow:#ffb12a;
}
.contactContainer{
  text-align: center;
  box-sizing: border-box;
  padding:10px;
}
.contactContainer h1{
  font-size:20px;
  padding:10px;
}
.infobox{
  padding:10px;
  color:#888;
  margin:auto;
}
.contentBox{
  background-color:#667a79;
  max-width: 400px;
  margin: auto;
  border-radius: 5px;
}
.contentBox form {
  text-align: center;
  justify-content: center;
  margin:auto;
  padding: 5px;

}
.contentBox form input{
  width:90%;
  text-decoration: none;
  border: none;
  outline: none;
  margin:10px;
  padding: 5px;
  border-radius: 5px;
}

.Submit{
  color:white;
  font-size: 20px;
  background-color: var(--blue);
  width: 150px;
  padding: 8px;
  border-radius: 10px;
  margin-top:10px;
}
.Submit:hover{
  background-color:blue;
}
.submitting{
  color:#999;
  font-size: 20px;
  background-color: var(--blue);
  width: 150px;
  padding: 8px;
  border-radius: 10px;
  margin-top:10px;
}
.contentBox .writeup{
  padding: 20px;
  color:white;
}
@media only screen and (max-width: 1050px) {
  .infobox{
    font-size: 12px;
  }
  .writeup{
    font-size: 12px;
  }
}
@media only screen and (min-width: 1050px) {
  .infobox{
    font-size: 18px;
  }
  .writeup{
    font-size: 18px;
  }

}
