.inputForm {
  display: flex;
  flex-direction: row;
  align-self: center;
}

.searchBar {
  flex-basis: 48%;
  padding: 2px;
}

.locationBar {
  flex-basis: 48%;
  padding:2px;
  
}

@media(max-width:600px) {
  .inputForm {
    flex-direction: column;
  }
}