:root{
    --black:rgb(20, 20, 20);
    --blackHeadColor:#3d3b3b;
    --lightBlack:rgb(163, 154, 154);
    --blue:#0064a9;
    --yellow:#ffb12a;
}
.content{
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.top{
  padding: 10px;
  text-align: center;
  border-bottom: var(--lightBlack);
}
.down{
  width:80%;
  margin: auto;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}
