.popupMessage{
  position: absolute;
  padding: 10px ;
  min-width: 300px;
  background: #ccceae;
  transition: 1s ease-out;
}
.popupMessage .wrong{
  color:red;
  font-weight: 500;
  font-size: 18px;
}
.show-popup{
  display: flex;
}
.hide-popup{
  display: none;
}
.colorsuccess{
  border-left: 7px solid green;
}
.colordanger{
  border-left: 7px solid red;
}
.colorokay{
  border-left: 7px solid blue;
}
