.adminDashboard{
  background:#f8f8f8;
}
.status {
  background-color: 	#ffcc00;
  font-weight: 600;
  color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  width:220px;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  margin:auto;
}


.footer {
  display: flex;
  justify-content: center;
}

.btns {
  display: flex;
  padding: 5px;
}

.accept-btn {
  margin: 10px;
  width: 100px;
  height: 30px;
  border: none;
  background-color: green;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

.reject-btn { 
  margin: 10px;
  width: 100px;
  height: 30px;
  border: none;
  background-color: red;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

.containerSpecial {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonSpecial {
  text-align: center;
  width: 100px;
  height: 30px;
  border: none;
  background-color: red;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  margin: 8px;
}
.onejob{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  width:100%;
  position: sticky;
  top:10px;
}
.onejob .controls{
  padding: 10px;
  margin: auto;
}
.down{
  width:80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.hide{
  display: none;
}
@media only screen and (max-width: 1050px) {
  .right{
    display: none;
  }
  .down{
    width: 100%;
  }
}
@media only screen and (min-width: 1050px) {
  .right{
      display: block;
  }
  .down{
    width: 80%;
  }
  .scrollableContent{
    max-height: 500px;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
}
.nomore{
  font-weight:500;
}


