:root {
  --blue:#0064a9;
  --yellow:#ffb12a;
}
.navbar {
	background: white;
	box-shadow: 0px 0px 2px 2px #aaa;
}
.container {
	display: flex;
}
.header {
	font-size: 20px;
	margin:auto;
	font-family: inherit;
	font-weight: 500;
	margin-right: 120px;
	display: flex;
}
.companyLogo{
	margin-right: 10px;
}
ul {
	display: flex;
	align-items: stretch;
}
li {
	margin: 7px;
	width: 150px;
	font-size: 1.2rem;
	color: black;
	align-items: stretch;
	text-align: center;
	cursor: pointer;
}
.active {
	color:var(--blue);
  font-weight:600;
	margin-bottom: 2px;
}
.color-blue{
	color:var(--blue);
}
.color-yellow{
	color:var(--yellow);
}
