.paymentCss{
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  padding:10px;
}
.flexContent{
  display:flex;
  flex-direction:column;
  font-weight: 500;
  margin:auto;
  font-size: 30px;
}
.stripe{
  margin:10px;
  padding: 10px;;
}