.paymentCss{
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  padding:10px;
}
.flexContent{
  display:flex;
  flex-direction:column;
  font-weight: 500;
  margin:auto;
  font-size: 30px;
}
.stripe{
  margin:10px;
  padding: 10px;
}
.flexContent .responseBox{
  font-size: 20px;
}

.flexContent .green{
  color: green;
}
.flexContent .red{
  color: red;
}
.flexContent .orange{
  color: orange;
}
